<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username1" value="lafecaco" />
		<add key="Password1" value="bladimir55" />
		<add key="Username" value="valentinal0929" />
		<add key="Password" value="chorro123" />
		<add key="BaseUrl" value="http://localhost:8080" />
		<add key="IssueEndpoint" value="rest/api/2/issue/" />
		<add key="ProjectEndpoint" value="rest/api/2/project/" />

	</appSettings>
</configuration>